#header{
    background-color: #F9B179;
    color:#2D3250;
    height: 12vh;
    min-height: 50px;
    display:flex;
    margin: 0 0 2vh;
    align-items: center;
    border-bottom-right-radius:25% 100%;
    box-shadow: 0 3px 3px hsla(0, 0%, 0%, 0.312);
}
.header-text{
    margin: 0 0 2% 2%;
}
#language-menu{
    display: flex;
    height: 8vh;
    min-height: 3rem;
    background-color: #676F9D;
    border:none;
    padding: 0;
    /* visibility: hidden; */
}
#mainContainer{
    margin:0 3%;
}
#footer{
    background-color: #2D3250;
    border-top-right-radius:25% 100%;
    height: 12vh;
    min-height: 50px;
    padding: 1% 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 -3px 3px hsla(0, 0%, 0%, 0.358);
}
.footer-info{
    margin: 0;
}