.user-answer-table{
    background-color: #676f9d59;
    width:100%;
    min-height: 10rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 1rem;
    box-shadow: 0px 0px 7px #2D3250;
    display:grid;
}
.table-emotions{
    grid-template-columns: 50% 50%;
    grid-template-rows:1fr minmax(45px,1fr);
    grid-auto-rows: 1fr;
    text-align: center;
}
.table-emotions-header{
    border-bottom: 1px white solid;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.table-emotions-header:first-child{
    border-right: 1px white solid;
}
.table-emotions-data{
    border-bottom: 1px white solid;
    text-align: center;
    font-style: italic;
    padding: 0;
    border-right: 1px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgba(255, 255, 255, 0.753);
    font-size: inherit;
    transition: 200ms;
    cursor: pointer;
}
.table-emotions-data:active{
    border:3px solid #F9B179;
}
.table-emotions-percent{
    border:none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px white solid;
    text-align: center;
    font-style: italic;
    color: inherit;
    font-size: inherit;
    transition: 200ms;
}
.table-emotions-percent:hover{
    cursor: pointer;
}
.table-emotions-percent:focus{
    border:3px solid #F9B179;
}
.table-emotions-percent::placeholder{
    color:rgba(255, 255, 255, 0.753);
    font-size: 1rem;
}
.table-btn-container{
    display: flex;
    background-color: rgb(103, 111, 157,35%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 7px #2D3250;
}
.table-button{
    background-color: transparent;
    color:white;
    border:none;
    width:100%;
    min-height: 2.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 0;
    transition: 200ms;
}
@media (hover: hover) and (pointer: fine) { /*animation for pc*/
    .table-button:hover{
        cursor: pointer;
        font-size: 1.2rem;
    }
    .table-button:active{
        font-size: 1.1rem;
        box-shadow: inset 0 0 0 2px #F9B179;
    }
}
@media (hover: none) and (pointer: coarse) { /*animation for smartphones only*/
    .table-button:active{
        box-shadow: inset 0 0 0 2px #F9B179;
    }
}
@media screen and (min-width:700px){
    .table-button{
        padding: 1% 0;
    }
}
.table-button-plus{
    font-size: 1.8rem;
    background-color: #F9B179;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 5px;
    line-height: 1.8rem;
    margin: 0 3%;
}
.table-distortion{
    grid-template-columns: 1fr;
    grid-template-rows:1fr minmax(60px,1fr);
    grid-auto-rows: 1fr;
    justify-items: center;
}
.table-distortion-row{
    border-bottom: 1px rgba(255, 255, 255, 0.753) solid;
    color:rgba(255, 255, 255, 0.753);
    width: 100%;
    font-size: 1.1rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    box-sizing: border-box;
    border-top-left-radius: 15px;
}
.table-distortion-row:active{
    border:3px solid #F9B179;
}
.is-chosen{ /*Style for the chosen table cell. It is at end of the code so it gets priority*/
    font-style: normal;
    color:white;
}
.is-data-hidden{ /*Style for the hidden rows. It is at end of the code so it gets priority*/
    display:none;
}
.is-button-hidden{
    display: none;
}