.user-answer{
    position: relative;
}
.diary-section-header{
    margin: 7% 0 3% 0;
}
.user-answer-info{
    position: absolute;
    font-size: 1.5rem;
    background-color: #F9B179;
    right:0;
    width:7%;
    padding: 0 2% 1% 0;
    text-align:right;
    border-bottom-left-radius:100% 100%;
    color:#2D3250;
}
.user-answer-text{
    background-color: rgb(103, 111, 157,35%);
    color:white;
    resize:none;
    width:96%;
    min-height: 10rem;
    border-radius: 10px;
    border:none;
    font-size: 1rem;
    padding:3% 2%;
    box-shadow: 0px 0px 7px #2D3250;
}
.user-answer-text::placeholder{
    color:rgba(255, 255, 255, 0.753);
    font-size: 1rem;
}
.save-button-container{
    text-align: center;
}
.save-button{
    font-size: 1.3rem;
    background-color: #F8B17A;
    color:#2D3250;
    margin-top:5%;
    margin-bottom:1%;
    padding:3% 1%;
    box-shadow: 0px 0px 7px #2D3250;
    border:none;
    border-radius: 10px;
    max-width:325px;
    font-weight: bold;
}
.save-button-warning{
    margin-top:0;
    margin-bottom: 5%;
}